<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>An Error Occured!</h1>
        <p>Waiting for the jello-hoarding webdev to come back and fix this...</p>
    </main>
<%- include('includes/end.ejs') %>